
body { font-family: "Handlee", sans-serif;


.h2{

    font-size: 3rem;
}

.h3{

    font-size: 0.5rem;
}

}



.navbar {
    font-weight: 300;
    padding-bottom: 0rem;
    padding-top: 1.2rem;

    .navbar-nav {

        .nav-link {

            padding-bottom: 0rem;

        }
        .nav-item {

            font-size: 1.2rem;
            font-family: "Handlee", sans-serif;

        }
    }
}